body{
    margin: 0;
    padding: 0;
    background: rgb(94, 91, 91);
    height: 90vh;
    text-align: center;
}
canvas{
    border: 2px white solid;
}
.score{
    display:flex;
    justify-content: space-between;
}
#highscore{
    color: rgba(255, 255, 255, 0.5);
}
#current-score{
    color: white;
}
.game{
    padding: 20px;
    display: grid;
    justify-content: center;
}